h1{
    text-align: center;
    color: black;
}
body{
    background-image: url(https://wallpaperaccess.com/full/2629775.jpg); /*image can change, just a placeholder*/
    background-size: cover;

}
.input-group{
    padding: 5px;
}

#info{
    background-color: rgba(241, 236, 236, 0.368);
    height: 900px;
}

#info-output{
    border: 30px;
    border-color: black;
    width: 300px;
    height: 300px;
    color: aquamarine;
    background-color: white;
    margin-left: 30px;
}

.long-lat{
    display: flex;
}

#longitude, #latitude{
    width: 100px
}
